/* CSS reset on certain elements */
h2, h3, h5, img, a {
	margin: 0;
	padding: 0;
	border: 0;
}
ul,li { margin-bottom: 0;} 


/* My styling */
html {
	margin-top: 20px;
	margin-bottom: 30px;
}

table, th, td {
	border: 1px solid black;
	text-align: center;
	border-collapse: collapse;
}
thead {background: #CCCCCC}
tbody {
	font-style: italic;
	background-color: #FFCC99;
}

h2 {padding-top: 10px;}

h5 {padding-top: 5px;}

caption {
	font-weight: bold;
	padding-bottom: 5px;
}

a {
	text-decoration: none;
}

a:link {
	color: Green;
}

a:visited {
	color: Red;
}

a:hover {
	text-decoration: underline;
	background-color: yellow;
}

